In [59]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [60]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ostrovnoy,68.0531,39.5131,18.12,88,84,14.79,RU,2022-05-04 23:57:20
1,1,Lavumisa,-27.3100,31.8920,60.75,96,0,2.06,SZ,2022-05-04 23:57:20
2,2,Deputatskiy,69.3000,139.9000,21.56,92,99,3.24,RU,2022-05-04 23:57:21
3,3,Mar Del Plata,-38.0023,-57.5575,59.02,70,0,14.00,AR,2022-05-04 23:57:21
4,4,Carnarvon,-24.8667,113.6333,68.07,45,40,12.66,AU,2022-05-04 23:57:21

In [61]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [62]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = [min_temp, Max_temp]# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

NameError: name 'latitude' is not defined

In [63]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [65]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [66]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [67]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 85

In [70]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Lavumisa,-27.3100,31.8920,60.75,96,0,2.06,SZ,2022-05-04 23:57:20
3,3,Mar Del Plata,-38.0023,-57.5575,59.02,70,0,14.00,AR,2022-05-04 23:57:21
4,4,Carnarvon,-24.8667,113.6333,68.07,45,40,12.66,AU,2022-05-04 23:57:21
5,5,Komsomolskiy,40.4272,71.7189,66.92,68,20,4.70,UZ,2022-05-04 23:57:22
6,6,Bengkulu,-3.8004,102.2655,75.94,86,100,3.51,ID,2022-05-04 23:55:37
7,7,Bluff,-46.6000,168.3333,55.80,71,54,6.46,NZ,2022-05-04 23:57:22
8,8,Port Elizabeth,-33.9180,25.5701,61.11,100,20,4.61,ZA,2022-05-04 23:54:16
9,9,Hobart,-42.8794,147.3294,54.27,84,40,9.22,AU,2022-05-04 23:55:47
10,10,Sumbe,-11.2061,13.8437,76.21,81,14,6.42,AO,2022-05-04 23:57:23
11,11,Bredasdorp,-34.5322,20.0403,58.62,93,75,3.47,ZA,2022-05-04 23:57:23

In [71]:
preferred_cities_df.count()

City_ID       380
City          380
Lat           380
Lng           380
Max Temp      380
Humidity      380
Cloudiness    380
Wind Speed    380
Country       376
Date          380
dtype: int64

In [72]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1         Lavumisa      SZ     60.75 -27.3100   31.8920
3    Mar Del Plata      AR     59.02 -38.0023  -57.5575
4        Carnarvon      AU     68.07 -24.8667  113.6333
5     Komsomolskiy      UZ     66.92  40.4272   71.7189
6         Bengkulu      ID     75.94  -3.8004  102.2655
7            Bluff      NZ     55.80 -46.6000  168.3333
8   Port Elizabeth      ZA     61.11 -33.9180   25.5701
9           Hobart      AU     54.27 -42.8794  147.3294
10           Sumbe      AO     76.21 -11.2061   13.8437
11      Bredasdorp      ZA     58.62 -34.5322   20.0403

In [73]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [74]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [75]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [77]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [78]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [79]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig